<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874148490032-3mp5a7c1fntcqtn12ifp4d96qleggd02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874148490032-3mp5a7c1fntcqtn12ifp4d96qleggd02</string>
	<key>API_KEY</key>
	<string>AIzaSyC0Q5PqHoymUfcAFvh1HGKvq4Xw0_4bWsM</string>
	<key>GCM_SENDER_ID</key>
	<string>874148490032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sundatech.kunimeapp</string>
	<key>PROJECT_ID</key>
	<string>kunimeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kunimeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874148490032:ios:6896fd3470d6d4a52ff6f5</string>
</dict>
</plist>